# System/editor
.DS_Store
.idea/
.vscode/

# Environment files
.env
.env.*

# Local configs (never commit)
.gitconfig
git.config

# Secrets/keys/certs
*.key
*.pem
*.p12
*.crt
*.csr
*.kubeconfig
**/keys/
**/certs/
**/secrets/

# Build/cache
**/.cache/
**/dist/
**/build/

# Go
**/*.test
**/*.out
**/bin/
**/tmp/
coverage/

# Node
**/node_modules/
**/.next/
**/.turbo/

# Databases
*.sqlite
*.db

# Logs
*.log

# Compose
deployments/local/.data/
